.container-fluid
  .row
    .col-xs-6.panel-group
      .panel.panel-primary
        .panel-heading
          .panel-title Test Area 1
        .panel-body.tall          
          leaflet#pmap(width='100%', height='480px', layers = '$ctrl.layers', maxbounds = '$ctrl.maxbounds', markers = '$ctrl.markers')
            padtimeline(
              timeline-data="$ctrl.timelineData")
    .col-xs-6.panel-group
      .panel.panel-primary
        .panel-heading
          .panel-title Test Area 2
        .panel-body
          datetime-range(start='$ctrl.startTime', end='$ctrl.endTime', presets='$ctrl.presetsTime', on-change='changed()', on-change-start='changedStart()', on-change-end='changedEnd()', on-close='closed()') This should be date-time-range
