.container-fluid
  .row
    .col-xs-6.panel-group
      .panel.panel-primary
        .panel-heading
          .panel-title Test Area 1
        .panel-body.tall
          pad-map
          padtimeline (
            padTimelineData = "$ctrl.timelineData",
            padTimelineOptions = "$ctrl.timelineOptions")          
    .col-xs-6.panel-group
      .panel.panel-primary
        .panel-heading
          .panel-title Test Area 2
        .panel-body
          p Add your components here
