nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    a.navbar-brand.blade-logo(ui-sref="home")
      img(ng-src="{{$ctrl.logo}}" alt="Blade")
  ul.nav.navbar-nav
    li
      a(href="/coverage", target="coverage") Unit Test Coverage
  